.section {
    display: flex;
    flex-direction: column; /* Сначала заголовок, затем содержимое */
    margin: 40px 0;
}

.section-content {
    display: flex;
    flex-direction: row; /* Расположение текста и изображения */
    align-items: center;
}

.section.reverse .section-content {
    flex-direction: row-reverse;
}

.title {
    text-align: center; /* Центрируем заголовок */
    margin-bottom: 20px;
    font-size: 24px;
}

.text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.image {
    flex: 1;
    padding: 20px;
}

.image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    font-size: 18px;
    line-height: 1.6;
}